{% set MyWeek = __SELF__ %}
{% set dayPointer = MyWeek.dayPointer %}
{% set devents = MyWeek.events[MyWeek.year][MyWeek.monthNum] %}
{% set dprops = MyWeek.dayprops[MyWeek.year][MyWeek.monthNum] %}
{% set trailDays = 0 %}



<textarea rows="10" cols="50">

{{ MyWeek.year }}-{{ MyWeek.month }}-{{ MyWeek.day }}

prevMonthStartDay = {{ __SELF__.prevMonthStartDay }}

dayPointer = {{ dayPointer }}

days_in_month = {{ __SELF__.days_in_month }}


</textarea>

<table class="mycal" 
       data-request-data="month:{{ MyWeek.monthNum }}">
    <thead>
        <tr class="daysHead">
{% for hding in  MyWeek.calHeadings %}
            <th>{{ hding }}</th>
{% endfor %}
        </tr>
     </thead>
     <tbody>

{% if dayPointer < MyWeek.days_in_month %}

        <tr class="days">

{# 
    ** Advance dayPointer **
#}
{#




    ** START - walk through 7 days of week **
#}
{% for x in range(0, 6) %}
{# 
    ** Advance dayPointer **
#}
{% set dayPointer = dayPointer + 1 %}
{# 
************ SHOW PREVIOUS MONTH DAYS ************
        If dayPointer indicates that current
        month has not started yet.
#}
{% if dayPointer <1 %}
            <td><div class="dis">{{ MyWeek.prevMonthStartDay + x }}</div></td>
{# 
************ SHOW NEXT MONTH DAYS ************
        If dayPointer indicates that current
        month has past.
#}
{% elseif dayPointer > MyWeek.days_in_month %}
            <td><div class="dis">{% set trailDays = trailDays + 1 %}{{ trailDays }}</div></td>
{# 
************ SHOW CURRENT MONTH DAYS ************
        If dayPointer indicates current
        month. ( Not Past or Previous )
#}
{% else %}
{% set dayProp = dprops[dayPointer] %}
            <td>
{% if dayProp.link %}
                <a {{ dayProp.link|raw }}>{% endif %}
                <div class="{% if dayProp.class %}{{ dayProp.class|raw }}{% else %}dayLabel {{ MyWeek.color }}{% endif %}">{{ dayPointer }}</div>
{% if dayProp.link %}
                </a>
{% endif %}
{% if devents[dayPointer] %}
                <ul class="eventList">

{#




    ** START - walk through events on this day **
#}
{% for ev in devents[dayPointer] %}
                    {% partial '@event' ev = ev %}
{% endfor %}
                </ul>
{% endif %}
            </td>
{% endif %}
{#
    ** END - walk through events on this day **



#}
{% endfor %}
{#
    ** END - walk through 7 days of week **



#}
        </tr>
{% endif %}




    </tbody>
</table>