      <div class="modal-header">
        <button type="button" class="close btn btn-default" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ ev.name }}</h4>{{ ev.date|date('m/d/Y') }} {% if ev.time %} at {{ ev.time }}{% endif %}
      </div>
      <div class="modal-body">
        {{ ev.text|raw }}
      </div>
      <div class="modal-footer">
        <div class="text-left">
{% for cat in ev.cats %}
          <span class="label label-info">{{cat}}</span>
{% endfor %}
        </div>
      </div>