{% set MyM = __SELF__ %}
{% set dayPointer = MyM.dayPointer %}
{% set devents = MyM.events[MyM.year][MyM.monthNum] %}
{% set dprops = MyM.dayprops[MyM.year][MyM.monthNum] %}



<pre>
{{ MyM.year }}
{{ MyM.monthNum }}
{{ MyM.dayPointer }}
{{ MyM.days_in_month }}
</pre>
{{ dump(devents) }}

<table class="mycal">
    <tbody>
{% for dayPointer in range(1,MyM.days_in_month) %}
{% if devents[dayPointer] %}
{% set dayProp = dprops[dayPointer] %}
    	<tr data-request-data="year:{{ MyM.year }},month:{{ MyM.monthNum }},day:{{ dayPointer }}">
    		<td class="list-icon">
{% if dayProp.link %}<a {{ dayProp.link|raw }}>{% endif %}
				<div class="holder">
		    		<div class="month {{ MyM.color }}">
		        		<p>{{ MyM.monthTitle }}</p>
		    		</div>
		    		<div class="day">
		        		<p>{{ dayPointer }}</p>
		    		</div>
				</div>
			</td>
			<td class="list-event">
{% if dayProp.link %}</a>{% endif %}
        		<ul class="eventList">
{% for ev in devents[dayPointer] %}
    {% partial '@event' ev = ev %}
{% endfor %}
        		</ul>
			</td>
		</tr>
{% endif %}
{% endfor %}
    </tbody>
</table>