<!--<form data-request="onUpdateEvent" data-request-update="'EventForm::list': '#eventinfo'">-->
<form data-request="onProcess">

        <input type="hidden" name="id" value="{% if not is_copy %}{{ __SELF__.myevent.id  }}{% endif %}">


    <div class="row">
<!-- Date -->
        <div class="col-md-4 form-group">
{% partial '@datepicker' name='date' value=__SELF__.myevent.date label=__SELF__.trans('event.date') %}
        </div>
<!-- Time -->
        <div class="col-md-4 form-group"
            data-field-name="time"
            id="Form-field-Event-time-group">
{% partial '@clockpicker' name='time' value=__SELF__.myevent.time label=__SELF__.trans('event.time') %}
        </div>
    </div>







<!-- Timezone -->
    <div class="row">
        <div class="col-md-6 form-group">
{% partial '@timezone' name='timezone' value='' label='timezone' %}
        </div>
    </div>





<!-- INTERVAL -->
    <div class="row">
<!-- Repeat -->
        <div class="col-md-3 form-group">
            <label for="form-repeat">Repeat</label>
            <select class="form-control custom-select" id="form-repeat" name="FREQ" onchange="repeatChange()">
                <option value="none">None (run once)</option>
                <option value="hourly">Hourly</option>
                <option value="daily">Daily</option>
                <option value="weekdays">Weekdays</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
                <option value="yearly">Yearly</option>
            </select>
        </div>

        <div class="col-md-2 form-group hidden r_all r_hourly r_daily r_weekly r_monthly">
{% partial '@number_spin' max=365 name='INTERVAL' class='r_all r_hourly r_daily r_weekly r_monthly'
    value=__SELF__.myevent.INTERVAL 
    label=__SELF__.trans('event.INTERVAL') %}
            <p class="inline-text hidden r_all r_hourly">hours(s)</p>
            <p class="inline-text hidden r_all r_daily">days(s)</p>
            <p class="inline-text hidden r_all r_weekly">week(s)</p>
            <p class="inline-text hidden r_all r_monthly">month(s)</p>
        </div>
    </div>

<!-- BYDAY -->
    <div class="row hidden r_all r_weekly">
        <div class="col-md-8 form-group">
{% partial '@weekdaypicker' name='BYDAY' class='r_all r_weekly' value='' label='BYDAY' %}
        </div>
    </div>





<!-- Month On -->
    <div class="row hidden r_all r_monthly">
        <div class="col-md-3 form-group">
            <label for="form-month-on">month_on</label>
            <select class="form-control custom-select r_all r_monthly" id="form-month-on" name="month_on" onchange="monthOnChange()">
                <option value="">- Pick One -</option>
                <option value="on_day">On Day</option>
                <option value="on_the">On The</option>
            </select>
        </div>

<!-- BYMONTHDAY -->
        <div class="col-md-6 form-group mo_all mo_on_day">
{% partial '@number_spin' max=31 name='BYMONTHDAY' class='mo_all mo_on_day'
value=__SELF__.myevent.BYMONTHDAY 
label='BYMONTHDAY' %}
        </div>

<!-- year-month-day-pos -->
        <div class="col-md-3 form-group hidden mo_all mo_on_the">
{% partial '@dayposition' name='BYSETPOS' class='mo_all mo_on_the'
value='' 
label='BYSETPOS' %}
        </div>
<!-- Timezone -->
        <div class="col-md-4 form-group hidden mo_all mo_on_the">
{% partial '@days_of_week' name='BYDAY' class='mo_all mo_on_the'
value='' 
label='BYDAY' %}
        </div>
    </div>





<!-- Month On -->
    <div class="row hidden r_all r_yearly">
        <div class="col-md-3 form-group">
            <label for="form-year-on"></label>
            <select class="form-control custom-select r_all r_yearly" id="form-year-on" name="year_on" onchange="yearOnChange()">
                <option value="on_day">On Day</option>
                <option value="on_the">On The</option>
            </select>
        </div>

<!-- BYMONTH -->
        <div class="col-md-6 form-group hidden yr_all yr_on_day">
{% partial '@month_picker' name='BYMONTH' class='yr_all yr_on_day'
value='' 
label='' %}
        </div>

<!-- YBYMONTHDAY -->
        <div class="col-md-6 form-group yr_all yr_on_day">
{% partial '@number_spin' max=31  class='yr_all yr_on_day'
name='YBYMONTHDAY' 
value=__SELF__.myevent.YBYMONTHDAY 
label='' %}
        </div>

<!-- YBYSETPOS -->
        <div class="col-md-2 form-group hidden yr_all yr_on_the">
{% partial '@dayposition' class='yr_all yr_on_the'
name='YBYSETPOS' 
value='' 
label=' ' %}
        </div>
<!-- BYDAY -->
        <div class="col-md-2 form-group hidden yr_all yr_on_the">
{% partial '@days_of_week' class='yr_all yr_on_the'
name='YBYDAY' 
value='' 
label=' ' %}
        </div>
<!-- YBYMONTH -->
        <div class="col-md-2 form-group hidden yr_all yr_on_the">
{% partial '@month_picker' class='yr_all yr_on_the'
name='YBYMONTH' 
value='' 
label='' %}
        </div>
    </div>










<!--  -->
    <div class="row hidden r_all r_hourly r_daily r_weekdays r_weekly">
        <div class="col-md-12 form-group">
            <hr />
        </div>
    </div>

<!-- Ends -->
    <div class="row hidden r_all r_hourly r_daily r_weekdays r_weekly r_monthly r_yearly">
        <div class="col-md-6 form-group">
            <label for="form-Ends">Ends</label>
            <select class="form-control custom-select  r_all r_hourly r_daily r_weekdays r_weekly r_monthly r_yearly" id="form-Ends" name="Ends" onchange="endsChange()">
                <option value="never">Never</option>
                <option value="after">After</option>
                <option value="date">On date</option>
            </select>
            <p></p>
        </div>


        <div class="col-md-2 hidden e_all e_after form-group ">
{% partial '@number_spin' max=100 class='e_all e_after'
name='COUNT' 
value=__SELF__.myevent.end_after 
label=__SELF__.trans('event.end_after') %}
            <p class="inline-text">occurrence(s)</p>
        </div>


        <div class="col-md-4 hidden e_all e_date form-group">
{% partial '@datepicker' class='e_all e_date'
name='ENDON'
value=__SELF__.myevent.date label=__SELF__.trans('event.date') %}
        </div>


    </div>















    <div class="form-group">
        <label for="Form-field-myevent-phone">{{ __SELF__.trans('event.name') }}</label>
        <input type="text" name="name" id="Form-field-myevent-name" value="{{ __SELF__.myevent.name }}" placeholder="{{ __SELF__.trans('kurtjensen.mycalendar::lang.event.phold_name') }}" class="form-control" maxlength="255">
    </div>
    <div class="form-group">
        <label for="Form-field-myevent-text">{{ __SELF__.trans('event.text') }}</label>
        <textarea name="text" id="Form-field-myevent-text" placeholder="{{ __SELF__.trans('kurtjensen.mycalendar::lang.event.phold_text') }}" class="form-control">{{ __SELF__.myevent.text }}</textarea>
    </div>
    <div class="form-group">
        <label for="Form-field-myevent-category_id">{{ __SELF__.trans('event.category') }}</label>
        {{ categorylist|raw  }}
    </div>
{% if __SELF__.allowpublish %}
    <div class="form-group">
        <input type="checkbox" id="Form-field-myevent-is_published" name="is_published" value="1"
            {% if __SELF__.myevent.is_published %} checked="checked"{% endif %}>
        <label for="Form-field-myevent-is_published">{{ __SELF__.trans('event.is_published') }}</label><br />
    </div>
{% endif %}
    <div class="form-group">
        <button type="submit" 
            data-hotkey="ctrl+s, cmd+s" 
            data-load-indicator="{{ __SELF__.trans('kurtjensen.mycalendar::lang.event_form.saving') }}" 
            class="btn btn-primary">{{ __SELF__.trans('event_form.btn_save') }}</button>

    <span class="btn-text">
        or <a href="">{{ __SELF__.trans('event_form.btn_cancel') }}</a>
    </span>
    </div>
</form>

<input type="hidden" id="ck-input" value="{{__SELF__.ckeditor}}"></input>

<div id="answer">
{{ __SELF__.rdate }}
</div>
