<!-- Start event-list.htm -->
        <div  class="text-right">
            <button
                claas="btn btn-default"
                title="Add Event"
                data-request="EventForm::onEventForm" 
                data-request-update="'EventForm::form': '#eventinfo'">
                Add Event <i class="icon-plus btn-icon danger"></i>
            </button>
        </div>
            <table class="table">
                <tr>
                    <th class="">Event</th>
                    <th class="">Date / Time</th>
                    <th class="">Categories</th>
                    <th class="">&nbsp;</th>
                    <th class="">&nbsp;</th>
                </tr>
{% for event in __SELF__.myevents  %}
                <tr>
                    <td class="">{{ event.name }}</td>
                    <td class=""> {{ ev.date|date('m/d/Y') }} {% if ev.time %} at {{ ev.time }}{% endif %}</td>
                    <td class="">{% for cat in event.categories %}{{ cat.name }}, {% endfor %}</td>
                    <td class=""> {% if event.is_published %}{% else %} Not {% endif %} Published </td>
                    <td class="">
                        <button
                            claas="btn btn-default" 
                            title="Edit"
                            data-request="EventForm::onEventForm"  
                            data-request-data="id: {{ event.id }}"
                            data-request-update="'EventForm::form': '#eventinfo'">
                            <i class="icon-pencil btn-icon danger"></i>
                        </button>
                        <button
                            claas="btn btn-default" 
                            title="Delete"
                            data-request="EventForm::onDelete" 
                            data-request-data="id: {{ event.id }}"
                            data-request-confirm="Do you really want to delete this event?"
                            data-request-update="'EventForm::list': '#eventinfo'">
                            <i class="icon-trash btn-icon danger"></i>
                        </button>
                    </td>
                </tr>
{% endfor %}
            </table>
<!-- End event-list.htm -->