<!-- weekdaypicker partial start -->
            <label for="form-year-month-day-pos-{{ name }}">{{ label }}</label>
            <select class="form-control custom-select {{ class }}" id="form-year-month-day-pos-{{ name }}" name="{{ name }}">
                        <option{% if value == '1'  %} selected{% endif %} value="1">First</option>
                        <option{% if value == '2'  %} selected{% endif %} value="2">Second</option>
                        <option{% if value == '3'  %} selected{% endif %} value="3">Third</option>
                        <option{% if value == '4'  %} selected{% endif %} value="4">Fourth</option>
                        <option{% if value == '-1'  %} selected{% endif %} value="-1">Last</option>
                        <option{% if value == '-2'  %} selected{% endif %} value="-2">Second to Last</option>
            </select>
<!-- weekdaypicker partial end -->